<div class="modal fade" id="modalAddEdit" role="dialog" aria-labelledby="basicModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-title">Add / Edit @ViewData["Title"]</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="control-label">Workflow Name<span class="text-red"> *</span></label>
                                <input class="form-control" id="addEditWorkflowName" type="text" oninput="removeWhiteSpace(this)" maxlength="255" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="control-label">Workflow Type<span class="text-red"> *</span></label>
                                <select class="form-control" id="addEditWorkflowType"></select>
                            </div>
                        </div>
                        <hr style="margin-top:10px; border-top: 2px solid #eee;" />
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label class="control-label">Level<span class="text-red"> *</span></label>
                                <select class="form-control select2s" id="addEditWorkflowSeq"></select>
                            </div>
                            <div class="col-md-9 form-group">
                                <label class="control-label">Approver<span class="text-red"> *</span></label>
                                <select class="form-control" id="addEditApprover"></select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-warning" id="btn_edit_detail" style="width: 80px;">Edit</button>
                                <button type="button" class="btn btn-danger" id="btn_delete_detail" style="width: 80px;">Delete</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button type="button" class="btn btn-success" id="btn_add_detail" style="width: 80px;">Add</button>
                                <button type="button" class="btn btn-grey" id="btn_clear_detail" style="width: 80px;">Clear</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-lg-12">
                                <table id="detailgrid" class="table table-bordered table-condensed" width="100%" style="min-width:auto;">
                                    <thead>
                                        <tr>
                                            <th width="20%" class="text-center">Level</th>
                                            <th width="80%">Approver</th>
                                            <th class="hide">Username</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn btn-primary" id="btn_save" style="width: 80px;">Save</button>
                        <button type="button" class="btn btn-danger" id="btn_cancel" data-dismiss="modal" style="width: 80px;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>