<div class="box-header">
    <div class="row">
        <div class="col-lg-12 form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Search Category</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" id="searchCard">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" style="padding: 25px 25px 10px 25px">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Workflow Name</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="searchWorkflowName"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Workflow Type</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="searchWorkflowType"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-lg-12"> *@
        @*     <div class="col-xs-12 col-sm-6 col-md-6"> *@
        @*         @if ((bool)ViewData["Add"]) *@
        @*         { *@
        @*             <button type="button" class="btn btn-success" id="btn_add" style="width: 80px;"><i class="fa fa-plus"></i> Add</button> *@
        @*         } *@
        @*         @if ((bool)ViewData["Edit"]) *@
        @*         { *@
        @*             <button type="button" class="btn btn-warning" id="btn_edit" style="width: 80px;"><i class="fa fa-pencil-square-o"></i> Edit</button> *@
        @*         } *@
        @*         @if ((bool)ViewData["Delete"]) *@
        @*         { *@
        @*             <button type="button" class="btn btn-danger" id="btn_delete" style="width: 80px;"><i class="fa fa-trash-o"></i> Delete</button> *@
        @*         } *@
        @*     </div> *@
        @*     <div class="col-xs-12 col-sm-6 col-md-6"> *@
        @*         <div class="text-right"> *@
        @*             <button type="button" class="btn btn-primary" id="btn_search" style="width: 80px;"><i class="fa fa-search"></i> Search</button> *@
        @*             <button type="button" class="btn btn-grey" id="btn_clear" style="width: 80px;" onclick=""><i class="fa fa-eraser"></i> Clear</button> *@
        @*             <button type="button" class="btn btn-warning" id="btn_hide" onclick="toggleColumn();"><i class="fa fa-eye"></i></button> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>